/*========GoogleFont========*/
@import url('https://fonts.googleapis.com/css2?family=Roboto+Mono:wght@400;500;600;700&family=Roboto:wght@400;500;700&display=swap');


/*=========css variables===========*/
:root{
	--header-height: 3.5rem;
/*=========  color  ===========*/
	--primary-color: #4a4a4a;
	--primary-color-alt: #575757;
	--linear-gradient: linear-gradient(54deg, rgba(45, 45, 45, 0.80) 34%, rgba(45, 45, 45, 0.95));
	--title-color: #4a4a4a;
	--text-color: #555;
	--text-color-alt: #999;
	--bg-color: #fff;
	--bg-color-alt: #e9ecef;
	--border-color: #f1f1f1;

/*=========  font & typography  ===========*/
	--roboto-font: 'Roboto', sans-serif;
	--mono-font: 'Roboto Mono', monospace;

	--fs-h1: 2.75rem;
	--fs-h2: 2.25rem;
	--fs-lg: 1.125rem;
	--fs-base: 1rem;
	--fs-sm: 0.875rem;
	--fs-xs: 0.75rem;

/*=========  font weight  ===========*/
	--medium: 500;
	--semibold: 600;
	--bold: 700;
}

/*=========  Base  ===========*/
*{
	margin: 0;
	padding: 0;
	box-sizing: border-box;
}
html{
	scroll-behaviour: smooth;
}

body, button, input,
textarea{
	font-family: var(--roboto-font);
	font-size: var(--fs-base);
}

body{
	background-color: var(--bg-color);
	color: var(--text-color);
	line-height: 1.5em;
}
h1,
h2,
h3,
h4{
	font-family: var(--mono-font);
	font-weight: var(--bold);
}

ul{
	list-style: none;
}

a{
	text-decoration: none;
}

button{
	cursor: pointer;
	background: none;
	border: none;
	outline: none;
}

img{
	max-width: 100%;
	height: auto;
}

textarea,input{
	background: none;
	border: none;
	outline: none;
}

/*=========  Reusable Css  ===========*/
.container{
	max-width: 1140px;
	margin: 0 auto;
	padding-left: 0.9rem;
	padding-right: 0.9rem;
}

.grid{
	display: grid;
}
.section{
	padding-top: 5.75rem;
	padding-bottom: 3.75rem; 
}

.section__title{
	font-size: var(--fs-h2);
	line-height: 1.17em;
	font-weight: var(--medium);
	margin-bottom: 1.12em;
}

.text-lg{
	font-size: var(--fs-lg);
	line-height: 1.67em;
}
.text-sm{
	font-size: var(--fs-sm);
	line-height: 1.43em;
}


/*=========  Header  ===========*/
.header{
	position: absolute;
	top: 10px;
	left: 0;
	width: 100%;
	z-index: 100;
}

.nav{
	height: calc(var(--header-height));
	display: flex;
}

.nav__list{
	display: flex;
	column-gap: 3.25rem;
}

.nav__link{
	color: #fff;
	font-size: 0.9rem;
	font-weight: var(--bold);
	font-family: var(--mono-font);
	text-transform: uppercase;
	position: relative;
	transition: 0.3s;
}

.nav__link:hover{
	opacity: 0.5;
}

.nav__link::after{
	content: '';
	position: absolute;
	bottom: 0;
	right: -0.5rem;
	width: 7px;
	height: 2px;
	background-color: #fff;
	opacity: 0;
	transition: 0.3s;
}

.nav__link:hover::after{
	opacity: 1;
}

.nav__close,
.nav__toggle{
	display: none;
}

/*========  Active Link =========*/ 
.active-link{
	opacity: 0.5;
}
.active-link::after{
	opacity: 0.1;
}


/*=========  Home  ===========*/

.home{
	background: url("C:/Users/91947/Desktop/portfolio/boguran2.1.jpg");
	background-size: cover;
	background-position: 50%;
	padding-top: 5.5rem;
	position: relative;
}

.home::before{
	content: '';
	position: absolute;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
	background: var(--linear-gradient);
}

.home__container{
	grid-template-columns: 4fr 8fr;
	column-gap: 1.875rem;
}

.home__img,
.home__data{
	z-index: 10;
}

.home__img{
	object-fit: cover;
	border-radius: 0.3rem;
	transform: translateY(3.125rem);
	box-shadow: 0 0 27px rgba(96 96 96 / 34%);
}

.home__name,
.home__work,
.home__list,
.home__social-link{
	color: #fff;
	font-family: var(--mono-font);
}


.home__work{
	margin-bottom: 2.5rem;
}

.home__list dt{
	float: left;
	font-weight: var(--bold);
	opacity: 0.6;
}

.home__list dd{
	padding-left: 6.25em;
	opacity: 0.8;
}
.home__list dd:not(:last-child){
	margin-bottom: 0.94em;
}

.home__socials{
	margin-bottom: 1.25rem 0 2.2rem;
}

.home__social-link{
	font-size: 1.7rem;
	line-height: 1.36em;
	margin-right: 0.25rem;
	opacity: 0.5;
	transition: 0.4s;
}	
.home__social-link:hover{
	opacity: 1;
}

<!-- ==========  Hello  ========== -->
.hello__details{
	margin-bottom: 1.67em;
	text-align: justify;
}


<!-- ==========  Buttons  ========== -->
.btn{
	font-size: 1.5rem;
	font-family: var(--mono-font);
	font-weight: var(--semibold);
	transition: 0.3s;
}

<!-- ==========  RESUME  ========== -->
.resume__container{

}
.resume{
	display: grid;
	grid-template-columns: repeat(2, 1fr);
	column-gap: 3.75rem;
}

.text-xs{
	font-size: var(--fs-xs);
	line-height: 1.5em;
}

.skills__titles
.resume__title{
	color: var(--text-color-alt);
	letter-spacing: 0.4em;
	margin-bottom: 2.8em;
}
.resume__item{
	border-left: 2px solid var(--primary-color);
	padding-left: 1.6rem;
}
	
.resume__item:not(:last-child){
	padding-bottom: 3rem;
}

/*.resume__item::before { 
	content: '';
	width: 12px;
	height: 12px;
	border-radius: 50%;
	border: 2px solid var(--primary-color);
	position: absolute;
	left: -0.56rem;
	
}*/

<!-- ==========  Skills  ========== -->
.skills__container{
	grid-template-columns: repeat(2, 1fr);
	column-gap: 7rem;
}
.skills{
	display: grid;
	grid-template-columns: repeat(3, 1fr);
	column-gap: 7rem;
}

.skills__list{
	row-gap: 1.5rem;
}
.skills__titles{
	display: flex;
	justify-content: space-between;
	margin-bottom: 0.625rem;
}

.skills__bar,
.skills__percentage{
	height: 5px;
	border-radius: 0.25rem;
}
.skills__bar{
	background-color: var(--bg-color-alt);
}
.skills__percentage{
	display: block;
	background-color: var(--primary-color);
}



<!-- ==========  Buttons  ========== -->
.project__categories{
	display: flex;
	column-gap: 3rem;
	margin-bottom: 1.875rem;
	padding-bottom: 1.8rem;
}
.work__list{
	margin-bottom: 1.8rem;
}

.category__btn{
	color: var(--text-color-alt);
	font-weight: var(--bold);
	font-family: var(--mono-font);
	position: relative;
}
.category__btn:hover {
	color: var(--primary-color);
}

.category__btn::after {
	content: '';
	position: absolute;
	bottom: 0;
	right: -0.5rem;
	width: 7px;
	height: 2px;
	background-color: var(--primary-color);
	opacity: 0;
	transition: 0.3s;
}
.category__btn:hover::after {
	opacity: 1;
}

.active-work{
	color: var(--primary-color);
}
.active-work::after {
	opacity: 1;
}

.projects__container{
	row-gap: 2.3rem;
}
.project__item{
	grid-template-columns: 5fr 7fr;
}

.project__img{
	width: 100%;
	height: 100%;
	object-fit: cover;
}
.project__data{
	padding: 2rem 3rem 2.5rem 1rem;
	border: 1px solid var(--border-color);
}

.project__title{
	margin-bottom: 0.8em;
	text-align: justify;
}
.project__description{
	margin-bottom: 1.5em;
	text-align: justify;
}
.project__stack{
	margin-bottom: 1.25em; 
}
.tags li{
	display: inline-block;
	margin-right: 0.6rem;
	box-shadow: 0 1px 4px rgb(0 0 0 / 14%);
	padding: 0.3rem 0.6rem;
	border-radius: 0.2rem;
}
.project__link{
	float: right;
	padding-top: 0.5rem;
	opacity: 0.6;
	color: var(--primary-color);
	font-family: var(--mono-font);
}
.project__link:hover{
	opacity: 1;
}



<!-- ==========  Contact  ========== -->

.contact__content {
	z-index: 10;
	position: relative;
}
.contact__container {
	grid-template-columns: 4fr 5fr 3fr;
	column-gap: 1.875rem;	
}

.contact .section__title,
.contact__list,
.contact__social-link,
::placeholder,
.contact__input,
.contact__form-title,
.footer__copy {
	color: #fff;
	font-family: var(--mono-font);
}
.contact__list{
	margin-bottom: 3.25rem;
}
.contact__list dt {
	float: left;
	font-weight: var(--border);
	text-transform: uppercase;
}
.contact__list dd {
	padding-left: 6.25rem;
	margin-bottom: 0.94em;
}
.contact__socials li {
	margin-bottom: 0.75rem;
}
.contact__social-link {
	font-family: var(--roboto-font);
}
.contact__form {
	position: relative;
}
.contact__form-title {
	margin-bottom: 1.25rem;
}
.contact__input-div {
	margin-bottom: 0.94rem;
}
.contact__input {
	width: 100%;
	border: 1px solid var(--border-color);
	border-radius: 3px;
	padding:0.625rem;
}
.textarea{
	height: 7.2rem;
	resize: none;
}

.contact__input:focus {
	box-shadow: inset 0 0 5px 0 #fff;
}
.contact__message{
	position: absolute;
	bottom: 34%;
	left: 0;
	font-family: var(--mono-font);
}
.color-light{
	opacity: 0;
}
.color-dark{
	opacity: 0.4;
}
.contact__button{
	width: 100%;
	margin-bottom: 10px;
}
.footer__copy{
	opacity: 0.4;
	text-align: center;
}




